@import url(global.css);

body, html{
    height: 100%;
    background-image: url(../image/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
}



header .navbar{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 60px;
    width:100% ;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-right: 40px;
    font-size: 1.6rem;
    font-variant: small-caps;
    background-color:hsla(42, 50%, 55%, 0.205);
}


.navbar >.conta {
    padding: 0 10px;
    background-color: #e0aa14;
    border: 1px solid black ;
    border-radius: 50px;
}



.navbar a{
    font-weight: bold;
    letter-spacing: 1px;
    padding: 7px;
    color: rgb(0, 0, 0);

}

.navbar a:hover{
    text-decoration: underline;
    color: white;
    transition: 0.3s ease-in-out;
}

header .logo{
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: space-between; /* Distribui melhor os itens */
    padding-top:80px;
}

.logo .text{

    line-height: 1.5em;
    font-size: 1.6em;
    margin: auto 0 auto auto;
    width: 725px;
}

.logo img{
    max-width: 100%; /* Garante que não ultrapasse o contêiner */
    height: auto;
    margin-right:auto ;
    padding-left: 50px;
}


